.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 70%;
  margin-top: 20px;

  &__item {
    cursor: pointer;
    font-size: 1.6em;
    background-color: transparent;
    border: 1px solid white;
    @include centerDefault(flex, center, center);
    color: white;
  }

  &__item:hover {
    background-color: #ffdbf4;
    transition: 1s ease;
  }
}
